:root{
    --1st-color:rgb(44,62,79);
    --2nd-color:rgb(26,188,155);
    --3rd-color:rgb(58,84,109);
}
nav{
    background-color: var(--1st-color);
}
#jumbotron, #about{
    background-color: var(--2nd-color);
    color: white;
}
img{
    width: 18rem;
}
.my-grey{
    color: var(--3rd-color);
}
.my-green{
    color: var(--2nd-color);
}
.bg-green{
    background-color: var(--2nd-color);
}
.my-line{
    width: 15vw;
    height: 0.25rem;
    margin: 0 0.5rem 0;
    border-radius: 1rem;
    background-color: var(--3rd-color);
}
#contact-me .form-control{
    border-width: 0 0 1px 0;
    border-radius: 0;
}
#contact-me::placeholder{
    color: var(--3rd-color);
}
#contact-me textarea{
    height: 10rem;
}
#end-section{
    background-color: var(--3rd-color);
    color: white;
}
footer{
    background-color: var(--1st-color);
    color: white;
    padding: 2rem 0 2rem;
}
