:root{
    --1st-color:rgb(44,62,79);
    --2nd-color:rgb(26,188,155);
    --3rd-color:rgb(58,84,109);
}

/** breakpoints:
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px **/

.container{ /*TODO temporaneo*/
    border: 2px dashed blue;
}
header, section, footer{ /*TODO temporaneo*/
    border: 2px dashed red;
}
.row > div{ /*TODO temporaneo*/
    border: 2px dashed lightskyblue;
}
header{
    background-color: var(--1st-color);
    min-height: 100px; /*TODO temporaneo*/
    color: white; /*TODO temporaneo*/
}
section{
    min-height: 500px; /*TODO temporaneo*/
}
.jumbotron{
    background-color: var(--2nd-color);
    color: white; /*TODO temporaneo*/
}
.end-section{
    background-color:var(--3rd-color);
    color: white; /*TODO temporaneo*/
}
footer{
    background-color: var(--1st-color);
    min-height: 100px; /*TODO temporaneo*/
    color: white; /*TODO temporaneo*/
}
